.p-itm-inner
  background-color: #444
  color: #fff
  font-size: 12px
  border-radius: 3px
  transition: 0.2s
  cursor: pointer
.p-itm-inner:hover
  background-color: #545454
.p-itm-outer
  width: 100px
  height: 100px
  padding: 5px
