<div class="h-100 p-5" style="border: 1px solid #ececec;">
  <div class="position-relative h-100">
    <div class="vertical-mid w-100">
      <div class="text-center login-head-t">
        <span>Sign Up</span>
      </div>
      <div>
        <label>User Name</label>
        <div>
          <input placeholder="User Name / E-mail Address" type="text" class="w-100" autocomplete="false">
        </div>
      </div>
      <div class="mt-2">
        <label>Password</label>
        <div>
          <input placeholder="Password" type="password" class="w-100" autocomplete="false">
        </div>
      </div>
      <div class="row no-gutters mt-2">
        <div class="position-relative col-6">
          <div class="v-mid position-absolute" style="font-size: 12px;">
            <span class="fgt-pw-link" routerLink="/">Forgot your password ?</span>
          </div>
        </div>
        <div class="col-6 text-right">
          <button class="cit-btn cit-btn-success">Login</button>
        </div>
      </div>

      <div class="mt-2">
        <hr>
      </div>

      <div class="text-center">
        <div class="p-2">
          <span style="font-size: 13px;color: #6e6e6e;">Still not a member ? </span>
        </div>
        <button class="cit-btn cit-btn-success">Register</button>
      </div>
    </div>
  </div>

</div>
