<div class="h-100 p-5">
  <div class="position-relative h-100">
    <div class="vertical-mid w-100">
      <div class="text-center login-head-t">
        <span>Register with us</span>
      </div>
      <div>
        <div>
          <label>First Name</label>
          <div>
            <input placeholder="" type="text" class="w-100" autocomplete="false">
          </div>
        </div>
        <div class="mt-2">
          <label>Email Address</label>
          <div class="d-flex no-wrap">
            <div class="input-group-prepend">
              <div class="input-group-text input-g-a">
                <span><i class="ic ri-mail-line"></i></span>
              </div>
            </div>
            <input placeholder="" type="text" class="w-100" autocomplete="false">
          </div>
        </div>
        <div class="mt-2">
          <label>Phone Number</label>
          <div class="d-flex no-wrap">
            <div class="input-group-prepend">
              <div class="input-group-text input-g-a">
                <span><i class="ic ri-phone-line"></i></span>
              </div>
            </div>
            <input placeholder="" type="text" class="w-100" autocomplete="false">
          </div>
        </div>
        <div class="mt-2">
          <label>Password</label>
          <div class="d-flex no-wrap">
            <div class="input-group-prepend">
              <div class="input-group-text input-g-a">
                <span><i class="ic ri-key-2-line"></i></span>
              </div>
            </div>
            <input placeholder="" type="password" class="w-100" autocomplete="false">
          </div>
        </div>

      </div>

      <div class="row no-gutters mt-2">
        <div class="position-relative col-6"></div>
        <div class="col-6 text-right">
          <button class="cit-btn cit-btn-success">Register</button>
        </div>
      </div>

      <div class="mt-2">
        <hr>
      </div>

      <div class="text-center">
        <div class="p-2">
          <span style="font-size: 13px;color: #6e6e6e;">Already a member ? </span>
        </div>
        <button class="cit-btn cit-btn-success" routerLink="/login">Login</button>
      </div>
    </div>
  </div>

</div>
